header {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

#navbar {
    overflow:hidden;
    background-color: lightblue;
    border-bottom-color: black;
    border-bottom-width: 15px;
    border-bottom-style: solid;
}

#navbar a {
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: aqua;
    color: red;
}

 
#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px;
    position: relative;

}

footer {
    background-color:darkblue;
    position: absolute;
    float: center ;
    bottom: 0;
    width: 100%;
    margin-top: auto;


}

footer p {
    float: right;
    color: white;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    text-align: left; /* Center the text horizontally */
    padding-left: 10px;
}

/* Style for the image */
.image {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: inline-block;
    vertical-align: middle; /* Center the image vertically */
}

/* Style for the text */
.text {
    display: inline-block;
    vertical-align: middle; /* Center the text vertically */
    margin-left: 10px;
}

#aboutimg {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
   
    vertical-align: top; /* Center the image vertically */
    float: right ;
}
#hobbiesImg a {
    white-space: nowrap;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
